<nav class="navbar">
    <a href="/"><div class='brand-title'> Bitx</div></a>
    <a href='#' class='toggle-btn' id='toggle-btn'>
        <span class='bar'></span>
        <span class='bar'></span>
        <span class='bar'></span>
    </a>
    <div class='navbar-links' id='navbar-links'>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </div>
    <script src="/forNav.js"></script>
</nav>