<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, sapiente. Aliquam fugiat ex error. Sint tenetur, eius facere maxime dolor illo sapiente voluptates harum fuga consectetur, vel nostrum voluptatem temporibus! Voluptate quis, reiciendis minima totam dicta iusto officiis! Eligendi, minus architecto quae ab commodi recusandae provident vel fugit cumque tempore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa iste beatae debitis nostrum laudantium inventore, sed, aut reprehenderit eum earum voluptatem accusantium, ea unde consequuntur blanditiis sunt deleniti provident dolorum numquam amet. Fugiat unde, quo perferendis laboriosam sequi id voluptates qui exercitationem quibusdam a, totam dicta, alias dolor quasi officia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus numquam architecto provident sit, similique voluptate id quasi voluptas exercitationem itaque ex a cumque, minima ratione ipsa natus esse veniam. Aliquid saepe nihil ab autem modi alias laborum impedit hic officiis, tempore, ut temporibus! Veritatis cumque quam beatae accusantium voluptatem totam.</p>
    </div>
</body>
</html>